html {
  background-color: #f8fafc;
}
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

.geist-font {
  font-family: "Geist", sans-serif;
}

/* main page styling */
input[type="search"] {
  padding-left: 28px;
  background-image: url("../assets/search.png");
  background-repeat: no-repeat;
  background-position: 8px 50%;
}
button[type="submit"] {
  padding-left: 28px;
  background-image: url("../assets/Plus.png");
  background-repeat: no-repeat;
  background-position: 8px 50%;
}
